
body{
  background-color: aquamarine;  
  display: flex;
  justify-content: center;
   border-radius: 2px;

}
.form{
    border: 2px solid burlywood;
    background-color: azure;
    padding: 20px;
    height: 50%;
    width: 20%;
    margin-top: 15%;
    border-radius: 7px;
    
}